body {
  background-color: gray;
}

.container {
  width: 600px;
  height: 500px;
  margin: auto;
  border: 2px solid #333;
  padding: 20px;
  background: #fff;
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  margin-top: 5px;
}

.box1 {
  background-color: coral;
  top: 20px;
  left: 200px;
}

.box2 {
  background-color: red;
  top: 40px;
  left: 400px;
}

.box3 {
  background-color: yellow;
}

.box4 {
  background-color: green;
}
